.p-0{
  margin: 0 auto;
}

.devicons{
  font-size:1.5em;
      vertical-align: sub;
}

/* ensure items with short summarues push date over image */
.publication-content{
  width:90%;
}


h3{
    margin-top:40px;
}

h3.mb-0{
    margin-top:0;
}

div.skills-heading{
    margin-top:1em;
    margin-bottom:0 !important;
}



/* From https://codepen.io/wbeeftink/pen/dIaDH */

.tags {
    font: 12px/1.5 'PT Sans', serif;
  list-style: none;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

.tags li {
  float: left;
}

.tag {
  background: #eee;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}

.tag::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}

.tag::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #eee;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}

.tag:hover {
  background-color: crimson;
  color: white;
}

.tag:hover::after {
   border-left-color: crimson;
}

.project-fact{
  font-size:80%;
  font-style:italic;
}




.resume-section blockquote {
    border-left: 4px solid #27B6F8;
    padding-left: 1em;
}

/*--- Skills CSS Bars ---*/

.list-inline-item {
  display: block;
}
@-webkit-keyframes bars {
  0% {
    width: 0px;
  }
  100% {
    width: 100%;
  }
}
.list-inline-item {
  display: block;
}
.list-inline-item p{
  display:inline-block;
  width: 20%;
}
span.bar {
  display:inline-block;
  width: 40%;
}
.bar {
  border-radius: 20px;
  position: relative;
  height: 10px;
  font-size: 16px;
  line-height: 30px;
  color: #fff;
  + .bar {
    margin-top: 10px;
  }
}
.bar::before {
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -2;
  width: 100%;
  background: #FF004F;
  content: '';
  text-align: right;
}
.bar::after {
  border-radius: 20px;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  display: block;
  content: '';
  background: #27B6F8;
  transition: 0.7s;
  -webkit-animation: bars 1 1.8s;
  text-align: right;
}


.bar1::after {
  max-width: 11%;
}
.bar2::after {
  max-width: 81%;
}
.bar3::after {
  max-width: 15%;
}
.bar4::after {
  max-width: 60%;
}
.bar5::after {
  max-width: 34%;
}
